@page "/new-girl"
@using System.Text.Encodings.Web;
@using System.Web;

@layout EmptyLayout

@{
    var baseurl = "https://files.conesoft.net/TV%20Shows/New%20Girl/";
    var showname = "New Girl";
    var showpath = @"E:\Public\TV Shows\New Girl";
    var seasons = 7;
}

<Meta name="description" content="@showname" />
<Meta property="og:type" content="website" />
<Meta property="og:title" content="@showname" />
<Meta property="og:description" content="TV Show" />

<Meta name="twitter:card" content="summary_large_image" />
<Meta name="twitter:title" content="@showname" />
<Meta name="twitter:description" content="TV Show" />

<Title>@showname</Title>

<header>
    <h1>
        <a href="/">@showname</a>
    </h1>
</header>
@{
    var ogimage = default(string);
}
@foreach (var i in Enumerable.Range(1, seasons))
{
    <h1>Season @i</h1>
    <section>
        @foreach (var file in Directory.GetFiles(showpath + @"\Season " + i))
        {
            var filenametofix = Path.GetFileName(file);
            filenametofix = filenametofix.Replace("%", "%25");
            var filename = $"Season {i}/{filenametofix}";
            var name = HttpUtility.UrlDecode(string.Join(' ', Path.GetFileNameWithoutExtension(file).Split(' ').Skip(1)).Trim());

            var url = baseurl + filename;

            if (ogimage == null)
            {
                ogimage = url + ":thumbnail.jpg";
                <Meta property="og:image" content="@ogimage" />
                <Meta name="twitter:image" content="@ogimage" />
            }

            <article>
                <img title="@name"
                     src="@url:thumbnail.jpg">
                <video poster="@url:thumbnail.jpg"
                       preload="metadata"
                       controls
                       isplaying="@(isPlaying.TryGetValue(filename, out var isplaying) == true ? isplaying : false)"
                @onplaying="() => isPlaying[filename] = true"
                @onpause="() => isPlaying[filename] = false"
                @onstop="() => isPlaying[filename] = false"
                @onended="() => isPlaying[filename] = false">
                    <source src="@url"
                            type="video/webm">
                </video>
                <h3>@name</h3>
            </article>
        }
    </section>
}

@code {
    Dictionary<string, bool> isPlaying = new();
}