@page "/star-trek-the-next-generation"
@using System.Web;

@layout EmptyLayout

@{
    var baseurl = "https://files.conesoft.net/TV%20Shows/Star%20Trek/The%20Next%20Generation/";
    var showname = "Star Trek - The Next Generation";
    var showpath = @"E:\Public\TV Shows\Star Trek\The Next Generation";
    var seasons = 7;
}

<PageTitle>@showname</PageTitle>

<header>
    <h1>
        <a href="/">@showname</a>
    </h1>
</header>
@{
    var ogimage = default(string);
}
@foreach (var i in Enumerable.Range(1, seasons))
{
    <h1>Season @i</h1>
    <section>
        @foreach (var file in IO.Directory.GetFiles(showpath + @"\Season " + i))
        {
            var filenametofix = IO.Path.GetFileName(file);
            filenametofix = filenametofix.Replace("%", "%25");
            var filename = $"Season {i}/{filenametofix}";
            var name = HttpUtility.UrlDecode(string.Join(' ', IO.Path.GetFileNameWithoutExtension(file).Split(' ').Skip(1)).Trim());

            var url = baseurl + filename;

            if (ogimage == null)
            {
                ogimage = url + ":thumbnail.jpg";
                <HeadContent>
                    <meta name="description" content="@showname" />
                    <meta property="og:type" content="website" />
                    <meta property="og:title" content="@showname" />
                    <meta property="og:description" content="TV Show" />
                    <meta property="og:image" content="@ogimage" />
                    <meta name="twitter:card" content="summary_large_image" />
                    <meta name="twitter:title" content="@showname" />
                    <meta name="twitter:description" content="TV Show" />
                    <meta name="twitter:image" content="@ogimage" />
                </HeadContent>
            }

            <article>
                <img title="@name"
                     src="@url:thumbnail.jpg">
                <video poster="@url:thumbnail.jpg"
                       preload=@(i > 1 ? "none" : "metadata")
                       controls
                       isplaying="@(isPlaying.TryGetValue(filename, out var isplaying) == true ? isplaying : false)"
                @onplaying="() => isPlaying[filename] = true"
                @onpause="() => isPlaying[filename] = false"
                @onstop="() => isPlaying[filename] = false"
                @onended="() => isPlaying[filename] = false">
                    <source src="@url"
                            type="video/webm">
                </video>
                <h3>@name</h3>
            </article>
        }
    </section>
}

@code {
    Dictionary<string, bool> isPlaying = new();
}